<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rrezo</title>

</head>
<body>
<!--<canvas id="matrixId" ></canvas>-->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<link rel="stylesheet" type="text/css" href="https://emoji-css.afeld.me/emoji.css">
<link rel="stylesheet" type="text/css" href="../css/dashboard/purpleTheme.css">



<!--<script type="application/javascript" src="../js/dashboard/matrixEffect.js"></script>-->
</body>
</html>