<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rrezo</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://emoji-css.afeld.me/emoji.css">
    <link rel="stylesheet" type="text/css" href="../css/dashboard/purpleTheme.css">
    <link rel="stylesheet" type="text/css" href="../css/dashboard/header.css">
    <link rel="stylesheet" type="text/css" href="../css/dashboard/dashBoard.css">
    <link rel="stylesheet" type="text/css" href="../css/dashboard/profiliPerdoruesit.css">
    <link rel="stylesheet" type="text/css" href="../css/dashboard/footergridkontinierbuttons.css">
    <link type="text/css" rel="stylesheet" href="../css/landingPage/neonButton.css">
    <link rel="stylesheet" type="text/css" href="../css/dashboard/faComments.css">
    <link rel="stylesheet" type="text/css" href="../css/dashboard/fa-grin-hearts.css">
    <link rel="stylesheet" type="text/css" href="../css/dashboard/faStarHalfAlt.css">
    <link rel="stylesheet" type="text/css" href="../css/dashboard/farFaTired.css">
    <link rel="stylesheet" type="text/css" href="../css/dashboard/dashboardFooter.css">
    <link rel="stylesheet" type="text/css" href="../css/dashboard/gridContainerMenu.css">
    <link rel="stylesheet" type="text/css" href="../css/dashboard/faNewspaper.css">
    <link rel="stylesheet" type="text/css" href="../css/dashboard/faChartLine.css">
    <link rel="stylesheet" type="text/css" href="../css/dashboard/faHireAHelper.css">
    <link rel="stylesheet" type="text/css" href="../css/dashboard/faSearch.css">
    <link rel="stylesheet" type="text/css" href="../css/dashboard/faVoteYea.css">

</head>
<body>
<!--<canvas id="matrixId" ></canvas>-->
<!--<header id="headerDashboard">-->
<!--        <div id="changeThemes">-->
<!--            <img src="../images/logoRrezo.jpg" id="logoRrezoDashboard" alt="logo Rrezo"  onclick="ndryshoNgjyren()">-->
<!--        </div>-->
<!--    <div class="profil-container" title="Profili Perdoruesit" onclick="shfaqePopupPerdoruesit()">-->
<!--        <div class="kartelaProfili">-->
<!--            <div class="unazaProfilitBg">-->
<!--                <div class="unazaProfilit">-->
<!--                    <div class="fytyraUnazes"></div>-->
<!--                    <div class="trupiProfilit"></div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="profiliOpsion" id="ProfiliOpsion">-->
<!--            <form action="logout" method="get">-->
<!--                <input class="shkyqProfilin" type="submit" value="Shkyc">-->
<!--            </form>-->
<!--            <form action="profili" method="get">-->
<!--            <input class="editoProfilin" type="submit" value="Redakto profilin">-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</header>-->


<div class="grid-container-menu" id="menuButtonId">
    <div class="grid-container-menu-item">
        <div class="container">
            <div id="showMenuItemsId" class="diamond">
                <div id="mainRotCorrect " class="rotCorrect">
                    <p class="rrezoMenuButton" title="Menu" onclick="showMenu()">Rrezo</p>
                </div>
            </div>
            <div id="nav1" class="nav nav1 diamond small">
                <div class="rotCorrect">
                    <i title="Lajmet" class="fas fa-newspaper" onclick="" aria-hidden="true"></i>
                </div>
            </div>
            <div id="nav2" class="nav nav2 diamond small">
                <div class="rotCorrect">
                    <i title="Statistika" class="fas fa-chart-line" onclick="" aria-hidden="true"></i>
                </div>
            </div>
            <div id="nav3" class="nav nav3 diamond small">
                <div class="rotCorrect">
                    <i title="Ndihmë" class="fab fa-hire-a-helper" onclick="" aria-hidden="true"></i>
                </div>
            </div>
            <div id="nav4" class="nav nav4 diamond small">
                <div class="rotCorrect">
                    <i title="Kërko" class="fas fa-search" onclick="" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div id="nav5" class="nav nav5 diamond small">
            <div class="rotCorrect">
                <i title="Voto për prof" class="fas fa-vote-yea" onclick="" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    </div>
</div>


<!--<footer id="footergridkontinierbuttons">-->
<!--    <div class="grid-container-buttons">-->
<!--<div class="grid-item-button">-->
<!--<a class="neon-button" href="" target="_blank" aria-hidden="true" title="Rating">-->
<!--<i class="fa fa-star-half-alt"></i>-->
<!--</a>-->
<!--</div>-->
<!--        <div class="grid-item-button">-->
<!--            <a class="neon-button" href="" target="_blank" aria-hidden="true" title="Feedback">-->
<!--                <i class="fa fa-comments"></i>-->
<!--            </a>-->
<!--        </div>-->
<!--        <div class="grid-item-button">-->
<!--            <a class="neon-button" href="" target="_blank" aria-hidden="true" title="Ankesat">-->
<!--                <i class="far fa-tired"></i>-->
<!--            </a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <p>Krijuar me <i class="far fa-grin-hearts"></i> nga <a>Albulena, Blerta, Blerina, Arbresha</a></p>-->
<!--</footer>-->

<!--<script type="application/javascript" src="../js/dashboard/matrixEffect.js"></script>-->
<!--<script type="application/javascript" src="../js/dashboard/ndryshoNgjyren.js"></script>-->
<!--<script type="application/javascript" src="../js/dashboard/shaqePopupPerdoruesit.js"></script>-->
<script type="application/javascript" src="../js/dashboard/showMenu.js"></script>
</body>
</html>