<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ndihme</title>
    <link rel="stylesheet" type="text/css" href="../css/dashboard/ndihme.css">
</head>
<body>

     <div class="ndihme">

    <table class="kontinier-ndihme">
        <caption>Pyetje</caption>
        <tr>
            <th>Pyetje të studentave</th>
            <th>Pyetje të profesorave</th>
            <th>Pyetje Gjenerale</th>
        </tr>
        <tr>
            <td>A do të mbetem anonim?</td>
            <td> Diskriminimi në faqe</td>
            <td>Menyra e shkalles se vlersimit</td>
        </tr>
        <tr>
            <td>Përse komenti im është fshirë?</td>
            <td>Si mund t'i fshij komentet negative?</td>
            <td>Probleme teknike</td>
        </tr>
        <tr>
            <td>Si mund ta shtoj një profesor të ri në listë</td>
            <td>Si mund te hap nje llogari?</td>
            <td>Kam harruar passwordi-n</td>
        </tr>
        <tr>
            <td>Si mund të kontaktoj me ju?</td>
            <td>Si e verifikon faqja qe komentet jane nga studentet?</td>
            <td>Infomata jo te sakta per profesoret</td>
        </tr>
        <tr>
            <td>Si mund ta editoj postin tim?</td>
            <td>Pse eshte emri im pa leje ne faqe?</td>
            <td>Informata jo te sakta per studentet</td>
        </tr>
        <tr>
            <td>Si mund ta fshij komentin tim?</td>
            <td>Si mund ta largoj emrin tim nga review?</td>
            <td>Perdorimi i fjaleve banale</td>
        </tr>
        <tr>
            <td>Si mund ta bej report ndonje koment?</td>
            <td>Informata jo te sakta</td>
            <td>Shperndarja e informatave me pale te trete</td>
        </tr>
    </table>
    <p>3.A ishin informatat e kërkuara?</p>
    <form action="/action_page.php"
          style="color: black ; overflow: auto; background-color: var(--clr-sdi);border-radius: 12px;">
        <input type="radio" id="po" name="Informata">
        <label for="po">Po</label><br>
        <input type="radio" id="jo" name="Informata">
        <label for="jo">Jo</label><br>
        <input type="radio" id="Pjeserisht" name="Pjeserisht">
        <label for="Pjeserisht">Pjeserisht</label>
    </form>
    <p>2.Keni nevojë për informata shtese</p>
    <form action="/action_page.php"
          style="color: black; overflow: auto; background-color: var(--clr-sdi);border-radius: 12px;">
        <input type="checkbox" id="po1">
        <label for="po"> Po</label><br>
        <input type="checkbox" id="jo1">
        <label for="jo">Jo</label><br>
        <input type="checkbox" id="Pyetje">
        <label for="Pyetje"> Pyetje tjera</label><br><br>
        <input type="submit" value="Submit" required>
    </form>
</div>
</div>
</body>
</html>