<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profili</title>
   <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://emoji-css.afeld.me/emoji.css">
    <link type="text/css" rel="stylesheet"  href="../css/profile/userprofilegrid.css">
    <link type="text/css" rel="stylesheet"  href="../css/profile/themesuserprofile.css">
    <link type="text/css" rel="stylesheet"  href="../css/profile/fa-mail-bulk.css">

</head>
<body>
<div class="user-profile-cachel">
  <div class="grid-container-user-profile">
      <div class="header-item" >Header</div>
      <div class="menu-item">Menu</div>
      <div class="main-item">
          <div class="grid-container">
              <div class="grid-item">
                  <div class="planet"></div>
              </div>
              <div class="grid-item"></div>
          </div>
      </div>
      <div class="right-item">
          <div class="grid-container-user-profile-cachel">
              <div class="grid-container-user-profile-cachel-item-1">
                  <div class="box">
                      <form action="userInbox" method="get">
                          <label for="clickable">
                             <i title="Shko tek imellat" class="fas fa-mail-bulk"></i>
                          </label>
                      </form>
                  </div>
              </div>
              <div class="grid-container-user-profile-cachel-item-2"></div>

          </div>


      </div>
      <div class="footer-item">Footer</div>


  </div>
</div>
</body>
</html>