<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>votimi</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/votimi/vote.css">
</head>
<body>
<form action="votimiim" id="myForm" method="get">
    <input type="checkbox" id="avniRexhepiid" name="Avni Rexhepi" value="Avni Rexhepi">
    <label for="avniRexhepiid" id="avniRexhepiid2"> Avni Rexhepi</label><br>
    <input type="checkbox" id="marjanDemaid" name="Marjan Dema" value="Marjan Dema">
    <label for="marjanDemaid" id="marjanDemaid2"> Marjan Dema</label><br>
    <input type="checkbox" id="skenderAhmetajid" name="Skender Ahmetaj" value="Skender Ahmetaj">
    <label for="skenderAhmetajid" id="skenderAhmetajid2"> Skender Ahmetaj</label><br>
    <input type="checkbox" id="jetaDobrunaid" name="Jeta Dobruna" value="Jeta Dobruna">
    <label for="jetaDobrunaid" id="jetaDobrunaid2"> Jeta Dobruna</label><br>
    <input type="checkbox" id="yllkaKabashiid" name="Yllka Kabashi" value="Yllka Kabashi">
    <label for="yllkaKabashiid" id="yllkaKabashiid2"> Yllka Kabashi</label><br>
    <input type="checkbox" id="sabrijeOsmanajid" name="Sabrije Osmanaj" value="Sabrije Osmanaj">
    <label for="sabrijeOsmanajid" id="sabrijeOsmanajid2"> Sabrije Osmanaj </label><br>
    <input type="checkbox" id="enkeleRamaid" name="Enkele Rama" value="Enkele Rama">
    <label for="enkeleRamaid" id="enkeleRamaid2"> Enkele Rama</label><br>
    <input type="checkbox" id="dardanShabaniid" name="Dardan Shabani" value="Dardan Shabani">
    <label for="dardanShabaniid" id="dardanShabaniid2"> Dardan Shabani</label><br>
    <input type="checkbox" id="haxhiDacajid" name="Haxhi Dacaj" value="Haxhi Dacaj">
    <label for="haxhiDacajid" id="haxhiDacajid2"> Haxhi Dacaj</label><br>
    <input type="checkbox" id="enverHamitiid" name="Enver Hamiti" value="Enver Hamiti">
    <label for="enverHamitiid" id="enverHamitiid2">Enver Hamiti </label><br><br>
    <input type="submit" id="votoId" value="Voto">
</form>
<script type="application/javascript" src="../js/votimiim/votimi.js"></script>
</body>
</html>