.kontinier-emoji{
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    gap: 10px;

}
.kontinier-emoji-item{
    padding: 8px;
    cursor: move;
    background-color: transparent;
    border-radius: 15px;
}
#div-emoji-smiley-item{
    align-items: center;
    border-radius: 12px;
    height: 50px;
}
#div-emoji-slightl-smiley-item{
    align-items: center;
    border-radius: 12px;
    height: 50px;
}
#div-emoji-slightly-frowning-item{
    align-items: center;
    border-radius: 12px;
    height: 50px;
}
#div-emoji-expressionless-item{
    align-items: center;
    border-radius: 12px;
    height: 50px;
}
#div-emoji-no_mouth-item{
    align-items: center;
    border-radius: 12px;
    height: 50px;
}