@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

:root {
    --clr-neon:hsl(317 100% 54%);
    --clr-bg:hsl(323 21% 16%);
    --clr-neon-light:#f046ff ;
    --clr-purple:purple ;
    --clr-neon-qelt:#FF10e8 ;
    --clr-neon-mshelt:#ba24c2 ;
    --clr-neon-zi:#d43ddb ;
    --clr-coral:lightcoral ;
    --clr-pink-bardh:#edbef1 ;
    --clr-pink-qelt: #893bd2;
    --clr-lekure:papayawhip;
    --clr-kuq-qelt:#e5ccc9;
    --clr-sdi:#e88bee;
    --clr-background-color:black;
}

html {
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden;
    background: linear-gradient(to bottom, var(--clr-neon-mshelt) 5%, var(--clr-neon) 110%, var(--clr-neon-light) 120%, var(--clr-purple) 130%,
    var(--clr-neon-qelt) 115%, var(--clr-neon-mshelt) 100%) no-repeat;
}
/*https://codepen.io/cassidoo/pen/zygvGj*/
.planet{
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 250px;
    background: linear-gradient(to bottom,transparent 20%,var(--clr-neon-mshelt) 10%,var(--clr-neon-light) 70%, var(--clr-neon) 100% ) ;
    border-radius: 50% ;
    filter: blur(6px);
    mask-image: radial-gradient(ellipse 100% 100% at center, transparent 40%, black 60%);
    box-shadow: 0 30px 20px 5px var(--clr-pink-bardh);
}
