.fa-user-secret{
    display: flex;
    justify-content: center;
}

.fa-user-secret:hover,
.fa-user-secret:focus{
    color: white;
    text-shadow: none;
}

.fa-user-secret:hover::before,
.fa-user-secret:focus::before{
    opacity: 1;
}
.fa-user-secret:hover:after,
.fa-user-secret:focus::after{
    opacity: 1;
}
