.grid-container {
display: inline-grid;
    grid-template-columns: auto auto auto;
    background-color: black;
    /*padding: 30px;*/
}

.grid-item{
    padding: 10px;
    text-align: center;
    background-color: black;

}
