.logo-rrezo{
    width: 100px;
    height: 100px;
    margin: 10px ;
    padding: 10px ;
    content: url("../../images/logoRrezo.jpg");
    filter: contrast(200%);
}
html{
    background-color: var(--clr-background-color);
    color: white;
}
