.grid-container-button {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    background-color: black;
    margin: auto;
    width: 90%;
    padding: 20px;
}
.grid-item-button {
    background-color: black;
    text-align: center;
}