.navBarBottom{
    bottom:0;
    /*overflow: hidden;*/
    position: fixed;
    width: 100%;
    /*background-color: lightblue ;*/
}
.navbarBottom__bubble {
    color: #2C465F;
    cursor: pointer;
    margin-top: 20px;
}
.navbarBottom__title {
    color: #2C465F;
    cursor: pointer;
    margin: 30px;
    margin-left: 10px;

    margin-top: 30px;


}
.navbarBottom__title ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
    list-style: none;
}

.navbarBottom__navigation-items {
    margin-top: 30px;
    margin-left: auto;
}
.navbarBottom__navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
    list-style: none;
}

.navbarBottom__navigation-items a:hover,
.navbarBottom__navigation-items a:active {
    color: #2C465F;
}

.navbarBottom__subtitle {
    margin-top: 28px;
}
.fas {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fas:hover {
    opacity: 0.7;
}
.fa-address-book{
    /*background: black;*/
    /*color: beige;*/
}
