.navbar {
    background: white;
    position: fixed;
    width: 100%;
    top: 0;
    padding: .7rem 0;
    height: 80px;
    display: flex;
    border-bottom: 1px solid ;
}
.container {
    max-width: 115rem;
    padding: 0 ;
    display: flex;
    width: 100%;
}
.navbar__bubble {
    color: #2C465F;
    cursor: pointer;
    margin-top: 20px;
}
.navbar__title {
    color: #2C465F;
    cursor: pointer;
    margin: 30px;
    margin-left: 10px;

    margin-top: 30px;


}
.navbar__title ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
    list-style: none;
}

.navbar__navigation-items {
    margin-top: 30px;
    margin-left: auto;
}
.navbar__navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
    list-style: none;
}

.navbar__navigation-items a:hover,
.navbar__navigation-items a:active {
    color: #2C465F;
}

.navbar__subtitle {
    margin-top: 28px;
}
.fa {
    /*padding: 10px;*/
    /*font-size: 30px;*/
    width: 15px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}


.fa-facebook {
    padding: 10px;
    background: #3B5998;
    border-radius: 50%;
    font-size:24px;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.fa-university{
    padding: 10px;
    background: lightblue;
    border-radius: 50%;
    font-size:24px;
    color: black;
    text-shadow: 1px 1px 1px lightblue;

}

.fa-question{
    padding: 10px;
    background: white;
    border-radius: 50%;
    font-size:24px;
    color: black;
    text-shadow: 1px 1px 1px lightblue;
}